@{
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>diigo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- header -->
    <header>
        <!-- end header inner -->
        <!-- end header -->
        <!-- banner -->
        <section class="banner_main">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <div class="text-bg">
                            <h1 style="color:black;">Analisis financieros 2022</h1>
                            <p style="color:black;" align="justify">
                                Proporcionar a los analistas financieros diversos informes financieros como lo son el Análisis Horizontal, Análisis Vertical y
                                Razones Financieras; construidos a partir de los catálogos de cuentas, balances
                                generales y estados de resultados pertenecientes a una o muchas empresas con la finalidad de apoyar en la toma de
                                decisiones administrativas
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-img">
                            <figure><img src="images/box_img.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </header>
    <!-- end banner -->
</body>
</html>
