@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Sector>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gestion de sectores</h1>
<div class="mb-4 mt-4">
    <a class="btn rounded-0 text-light" style="background-color: #239B56;" asp-action="Create">
        <i aria-hidden="true"></i>&nbspCrear Nuevo Sector
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomsector)
                </td>
                <td>
                    <a class="btn btn-success px-2 py-1" asp-action="Edit" asp-route-id="@item.Idsector">
                        <i aria-hidden="true">Editar</i>
                    </a>
                    <a class="btn btn-danger px-2 py-1" asp-action="Delete" asp-route-id="@item.Idsector">
                        <i aria-hidden="true">Eliminar</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
